.site-header{
    color: rgb(255, 255, 255);
    height: 100vh;
    font-family: poppins;
    display:flex;
    flex-direction: column;7
    
    justify-content: center;
    align-items: center;
}


.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: darkgray 2px 2px 5px;
    border-style:groove;    
}

.website-link{
    color: rgb(255, 255, 255)
}

body{
    background-image: url("https://images.pexels.com/photos/986774/pexels-photo-986774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
    margin:"0";

}